# Pandas Basics

##Introduction to Pandas

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.4

## Pandas Series

In [3]:
a = [1, 7, 2]
myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
#adding labels
myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
print(myvar["y"])

7

In [6]:
##key/value objects as a series
temp = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(temp)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
#to selct specific items
temp = {"day1": 49, "day2": 38, "day3": 26}
myvar = pd.Series(temp, index = ["day1", "day2"])

print(myvar)

day1    49
day2    38
dtype: int64

## DataFrames

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [9]:
# Locating a row
print(df.loc[::2])

   calories  duration
0       420        50
2       390        45

In [10]:
#adding index to dataframe
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Reading CSV Files

In [12]:
# loading csv file into a Data Frame
df = pd.read_csv('data.csv')

print(df.to_string()) #use to_string to print entire DF

  Student  Height
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [13]:
#check your system maximum rows
print(pd.options.display.max_rows)

60

In [14]:
#top 5 lines
print(df.head())

  Student  Height
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [15]:
#last 5 lines
print(df.tail())

  Student  Height
0       a       1
1       b       2
2       c       3
3       d       4
4       e       5

In [16]:
#info about the data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Height   5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes
None